.about-home-mask {
  -webkit-mask: url("/masks/about-home-mask-bottom.png") bottom / contain no-repeat,
    url("/masks/about-home-mask-top.png") top / contain no-repeat,
    linear-gradient(#000000 0 0);
  -webkit-mask-position: left calc(100%), right calc(0%);
  mask-size: 130px 130px, 130px 130px;
  mask-position: left calc(100% + 2px), right calc(0% - 2px);
  mask-composite: exclude;
}

.about-team-mask {
  -webkit-mask: url("/masks/about-team-mask.png") bottom / contain no-repeat,
    linear-gradient(#000000 0 0);
  -webkit-mask-position: center calc(100% + 2px);
  mask-size: 100%;
  mask-position: center calc(100% + 2px);
  mask-composite: exclude;
}

.event-star-mask {
  -webkit-mask: url("/masks/about-team-mask 1.png") top / contain no-repeat,
    linear-gradient(#000000 0 0);
  -webkit-mask-position: top calc(100% + 2px);
  mask-size: 100%;
  mask-position: top calc(100% + 2px);
  mask-composite: exclude;
}

.event-know-mask {
  -webkit-mask: url("/masks/Subtract-4.png") top / contain no-repeat,
    linear-gradient(#000000 0 0);
  -webkit-mask-position: top calc(100% + 2px);
  mask-size: 100%;
  mask-position: top calc(100% + 2px);
  mask-composite: exclude;
}

.event-gallery-mask {
  -webkit-mask: url("/masks/Subtract-14.png") bottom / contain no-repeat,
    linear-gradient(#000000 0 0);
  -webkit-mask-position: bottom calc(100% + 2px);
  mask-size: 100%;
  mask-position: bottom calc(100% + 2px);
  mask-composite: exclude;
}

.home-landing-mask {
  -webkit-mask: url("/photos/home-landing-mask.png") bottom / contain no-repeat,
    linear-gradient(#000000 0 0);
  -webkit-mask-position: center calc(100% + 2px);
  mask-size: 100%;
  mask-position: center calc(100% + 2px);
  mask-composite: exclude;
}

.home-totalticketsold-mask {
  -webkit-mask: url("/photos/home-totalticketsold-mask.png") top / contain no-repeat,
    linear-gradient(#000000 0 0);
  -webkit-mask-position: top center;
  mask-size: 100%;
  mask-position: top center;
  mask-composite: exclude;
}

.gallery-hero-mask {
  -webkit-mask: url("/masks/Subtract-7.png") bottom / contain no-repeat,
    linear-gradient(#000000 0 0);
  -webkit-mask-position: center calc(100% + 1px);
  mask-size: 100%;
  mask-position: center calc(100% + 1px);
  mask-composite: exclude;
}

.home-video-mask {
  -webkit-mask: url("/masks/Subtract.png") top / contain no-repeat,
    url("/masks/Subtract-1.png") bottom / contain no-repeat,
    linear-gradient(#000000 0 0);
  -webkit-mask-position: top left calc(100% + 2px), bottom calc(0% - 2px) right calc(0% - 2px);
  mask-size: 40%, 40%;
  mask-position: top left calc(0% - 2px), bottom calc(0% - 2px) right calc(0% - 2px);
  mask-composite: exclude;
}

.event-find-mask {
  -webkit-mask: url("/masks/Subtract-6.png") right / contain no-repeat,
    url("/masks/Subtract-5.png") left / contain no-repeat,
    linear-gradient(#000000 0 0);
  -webkit-mask-position: right calc(0% - 2px) center, left center;
  mask-size: 5%, 5%;
  mask-position: right calc(0% - 2px) center, left center;
  mask-composite: exclude;
}

.event-find-mask-ren {
  mask-size: 3%, 3% !important;
}

.contact-hero-mask {
  -webkit-mask: url("/masks/Subtract-8.png") bottom / contain no-repeat,
    linear-gradient(#000000 0 0);
  -webkit-mask-position: bottom calc(0% - 2px) center;
  mask-size: 100%;
  mask-position: bottom calc(0% - 2px) center;
  mask-composite: exclude;
}

.home-gear-mask {
  -webkit-mask: url("/masks/about-home-mask-top.png") top / contain no-repeat,
    url("/masks/about-home-mask-bottom.png") bottom / contain no-repeat,
    linear-gradient(#000000 0 0);
  -webkit-mask-position: top calc(0% - 2px) right calc(10% - 2px), bottom left calc(0% - 2px);
  mask-size: 10%, 10%;
  mask-position: top calc(0% - 2px) right calc(0% - 2px), bottom calc(0% - 2px) left calc(0% - 2px);
  mask-composite: exclude;
}

.contact-move-mask {
  -webkit-mask: url("/masks/Subtract-9.png") top / contain no-repeat,
    url("/masks/Subtract-10.png") top / contain no-repeat,
    url("/masks/Subtract-11.png") bottom / contain no-repeat,
    url("/masks/Subtract-12.png") bottom / contain no-repeat,
    linear-gradient(#000000 0 0);
  -webkit-mask-position: top left calc(0% - 40px), top right calc(0% - 40px), bottom calc(0% - 2px) left calc(0% - 40px), bottom calc(0% - 2px) right calc(0% - 40px);
  mask-size: 50%;
  mask-position: top left calc(0% - 40px), top right calc(0% - 40px), bottom calc(0% - 2px) left calc(0% - 40px), bottom calc(0% - 2px) right calc(0% - 40px);
  mask-composite: exclude;
}

.ticket-secure-mask {
  -webkit-mask: url("/masks/Subtract-7.png") top / contain no-repeat,
    url("/masks/Subtract-13.png") top / contain no-repeat,
    linear-gradient(#000000 0 0);
  -webkit-mask-position: bottom center, top center;
  mask-size: 100%, 100%;
  mask-position: bottom center, top center;
  mask-composite: exclude;
}

.event-gen-admis-mask {
  -webkit-mask: url("/masks/Subtract-2.png") top / contain no-repeat,
    url("/masks/Subtract-3.png") bottom / contain no-repeat,
    linear-gradient(#000000 0 0);
  -webkit-mask-position: top calc(100% + 2px), bottom calc(0% - 2px);
  mask-size: 100%, 100%;
  mask-position: top calc(100% + 2px), bottom calc(0% - 2px);
  mask-composite: exclude;
}

@media screen and (max-width: 600px) {
  .home-video-mask {
    mask-size: 60%, 60%;
  }

  .home-gear-mask {
    mask-size: 20%, 20%;
  }
}